<div class="container">
    <mat-card color=primary class="example-card">
        <mat-card-header>
            <mat-card-title>Choose 2 columns to plot: </mat-card-title>
        </mat-card-header>

        <mat-form-field appearance="fill">
            <mat-label>Features</mat-label>
            <mat-select [formControl]="option" multiple>
              <mat-option *ngFor="let opt of opts" [value]="opt" [disabled]="option.value && option.value.length >= 2 && !option.value.includes(opt)" >{{opt}}</mat-option>
            </mat-select>
          </mat-form-field>               
         
        <button mat-raised-button color=primary (click)="bar()" [disabled]="!option.value || (option.value && option.value.length < 2)"> Get your Plot! </button>
        <mat-progress-bar mode="query" *ngIf="load"></mat-progress-bar>

    </mat-card>
</div>
<div class="container" *ngIf="response != null | async" >
    <mat-card color=primary class="example-card">
        <img src="{{response.response | async}}" (load)="scroll()">
    </mat-card> 
</div>
